output "eDP-1" {
    mode "1920x1080"
    scale 1
    transform "normal"
    position x=0 y=0
}

// user displays -----------------------------------------------------------------------------------------------------------------