window {
    background-color: rgba (0, 0, 0, 0.0);
    font-family: "Cantarell";
    font-size:20;
    text-shadow: 1px 1px 1px rgb(77, 77, 77);
    font-weight: 200;
    color: rgba(255, 255, 255, 0.568);
    border-color: black;
}

#box-outer {
    background-color: rgba (255, 255, 255, 0.0)
}

#box-inner {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    padding: 100px;

}