* {
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 10px;
    min-height: 30px;
}

@import "themes/theme.css";

window.panel#waybar { 
background: @bar-bg;
background: @bar-bg;
border-bottom-right-radius: 5px;
}

tooltip {
    background: @main-bg;
    color: @main-fg;
    border-radius: 5px;
    border-width: 0px;
}

#custom-notification {
    font-family: "NotoSansMono Nerd Font";
    font-size: 20;
    color: @main-fg;
    opacity: 1;
    margin: 3px 0px 3px 0px;
    padding-left: 4px;
    padding-right: 4px;
  }

#workspaces button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 8px;
    margin: 5px 0px 3px 0px;
    padding-left: 5px;
    padding-right: 2px;
    color: @main-fg;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    color: @main-fg;

}


#taskbar button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 5px;
    margin: 4px 0px 4px 0px;
    padding-left: 2px;
    padding-right: 2px;
    color: @wb-color;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button.active {
    background: @wb-act-bg;
    color:  #191924;
    margin: 6px 0px 4px 0px;
    margin-left: 2px;
    padding-left: 11px;
    padding-right: 11px;
    margin-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    /*background: @wb-hvr-bg;*/
    color:  #191924;
    padding-left: 2px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}


#custom-wbar,
#window,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
    color: @main-fg;
    background: @main-bg;
    opacity: 1;
    margin: 5px 0px 3px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#clock{
    font-family: "HeavyData Nerd Font";
    font-size: 20;
    color: @main-fg;
    opacity: 1;
    margin: 3px 0px 3px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#battery,
#bluetooth,
#custom-cliphist,
#cpu,
#tray,
#custom-gpuinfo,
#idle_inhibitor,
#language,
#memory,
#custom-note,
#mpris,
#network,
#custom-power,
#pulseaudio,
#custom-updates,
#custom-terminal{
    color: @main-fg;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16;
    opacity: 1;
    margin: 3px 0px 3px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces,
#taskbar {
    padding: 0px;
}

#custom-r_end {
    border-radius: 0px 5px 5px 0px;
    margin-right: 8px;
    padding-right: 0px;
}

#custom-l_end {
    border-radius: 5px 0px 0px 5px;
    margin-left: 8px;
    padding-left: 0px;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 8px;
    padding-right: 0px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: 8px;
    padding-left: 0px;
}

#custom-rr_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 8px;
    padding-right: 0px;
}

#custom-rl_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 8px;
    padding-left: 0px;
}
